body {
    font-size: 18px;
    line-height: 1.5;
}

header, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    }

    header {
        font-size: 32px;
        line-height: 1.5;
        background-color: darkblue;
        color: white;
        font-family: 'verdana', sans-serif; 
        font-weight: 600;
        text-align: center;
        padding: 1.5rem;
        border-radius: 15px;
    }

    img {
        float: right;
        margin: 10px;
        border: 1px solid black;
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }
    
    footer {
        background-color: darkblue;
        color: white;
        text-align: center;
        padding: 1.5rem;
        border-radius: 15px;
    }

    .middle {
        margin: 1.25rem auto;
        max-width: 760px;
     }