@media only screen and (min-width: 36em) {

    #gridville {

        display: grid;
        grid-template-columns: 1fr 1fr;
     }
    
    .right {
        grid-column: span 2;
     }
    
    
    /*section {
            grid-template-columns: 1fr 1fr;
        }
    
    section div:nth-child(2) {
            display: block;
        }
    
    main section:nth-child(3) {
            grid-column: span 2;
    */

    header, footer {
        border-radius: 15px;
    }

    header {
        font-size: 100%;
        line-height: 1.5;
        border-radius: 15px;
    }
    
    footer {
        padding: 1.5rem;
        border-radius: 15px;
        font-size: 100%;
    }

    .top {
        border-radius: 15px;
     }

    
}