body {
    font-size: 18px;
    line-height: 1.5;
    background-color: lightseagreen;
}

header, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    }

    header {
        font-size: 80%;
        line-height: 1;
        background-color:darkgreen;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem;
    }
    footer {
        background-color:darkgreen;
        color: white;
        text-align: center;
        padding: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 70%;
    }

    span {font-weight: 700;}

    .divimg {
            margin: 10px;
            border: 1px solid black;
            float: none;
            width: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 30px #444;
    }

    .middle, .left, .right {
        margin: 1em auto;
        max-width: 300px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: auto;
        border-radius: 15px;
        background-color: darkolivegreen;
     }

     .top {
        max-width: 750px;
        text-align: left;
        align-items: center;
        background-color: darkolivegreen;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        padding-left: 3rem;
     }

     #gridville {

        display: grid;
        grid-template-columns: 1fr;
     }

     .right {
        grid-column: span 1;
     }

}