body {
    font-size: 18px;
    line-height: 1.5;
}

header, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    }

    header {
        font-size: 32px;
        line-height: 1.5;
        background-color:darkgreen;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 1.5rem;
        margin: 0 auto;
    }

    img {
        margin: 10px;
        border: 1px solid black;
        width: 200px;
        height: 200px;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 30px #444;
    }
    
    footer {
        background-color:darkgreen;
        color: white;
        text-align: center;
        padding: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: medium;
    }

    span {font-weight: 700;}

    h1 {
        text-align: center;
        font-size: larger;
    }

    .middle {
        margin: 1.25rem auto;
        max-width: 760px;
        font-family: 'Montserrat', sans-serif;
     }

     #logo {
         float: none;
     }

     nav {
        background-color: #36454f;
        text-align: center;
        box-shadow: 0 2px 15px gray;
        max-width: 760px;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;
        font-size: 0.95rem;
    }
    nav a:hover {
        background-color: #bbb;
        color: #36454f;
    }
    .active {
        color: yellow;
    }
    