@media only screen and (min-width: 37em) {

    img {
        margin-left: 0;
    }
    
    header {
        display: flex;
        flex: 1 1 100%;
        border-radius: 15px;
        font-size: 40px;
      }

    footer {
        border-radius: 15px;
        font-size: 18px;
    }
    
    h1 {
        padding: 15px;
        padding-top: 60px;   
    }

    nav {
        border-radius: 15px;
    }

    #snow {
        float: none;
    }

    /* Tablet Views */
    nav ul { display: flex; }
	nav ul li { flex: 1 1 100%; }
    .active {
        color: #D8F1A0;
    }

    nav ul li a {
        font-size: 1.13rem; 
    }

    ol {
        font-size:large;
    }
}