/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 50rem) {

    main {
        max-width: 75rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

/*----------- FORM --------------*/

.reporter {
    display: flex;
    flex-direction: row;
}

.storm {
    display: flex;
    flex-direction: row;
}

.more {
    display: flex;
    flex-direction: row;
}

.stormr {
    flex-direction: column;
}

.top {
    flex-basis: 14rem;
    flex-grow: 0;
    flex-shrink: 0;
}

#submitBtn {
    margin: 0 0 2rem 17rem;
}



/*----------- FOOTER --------------*/
    
 /* end of media query */