/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35em) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    
    .navigation {
        Display: flex;
    
        }
        
        .navigation li:first-child {
        Display: none;
        }
    
        .navigation li {
            Display: block;
            flex: 1 1 100%; 
            font-size: 1.8rem;
        }


/*----------- MAIN --------------*/
/*-------------Form-------------*/


.top {
    display: block;
    padding: .5rem;
}

.reporter {
    display: flex;
    flex-direction: column;
}

.storm {
    display: flex;
    flex-direction: column;
}

.more {
    display: flex;
    flex-direction: column;
}

#submitbtn {
    padding: 2rem 5rem;
    font-size: 3rem;
}


/*----------- FOOTER --------------*/
    
 /* end of media query */