@media only screen and (min-width: 37em) {

    
    header {
        justify-content: left;
        padding-left: 2rem;
    }
    
    
    img {
        width: 75%;
    }
    
     h1 {
        font-size: 6em;
    }

    h2 {
        text-align: left;
        font-size: 3.5rem;
        color: white;
        padding-left: 5rem;
    }

    h4 {
        text-align: left;
        font-size: 3.5rem;
        color: white;
        padding-left: 5rem;
    }

    main {
        width: 90%;
    }

    footer {
        margin-bottom: 0;
        font-size: 2.25rem;
        align-items: center;
        justify-content: center;
        display: grid;
    }
   
    .motto {
        font-size: 3em;
    }

    .navigation {
    Display: flex;

    }
    
    .navigation li:first-child {
    Display: none;
    }

    .navigation li {
        Display: block;
        flex: 1 1 100%;
        font-size: 1.8rem;
    }

    .content {
        width: 90%;
        margin-left: 8rem;
        margin-right: 4rem;
    }

    .snow-article-img {
        float: right;
        margin-left: 1rem;
        margin-bottom: 1rem;
        width: 30%;
        max-width: 20rem;
    }   

    .contentbox1 {
        position: relative;
    }

    .contentbox3  {
        max-width: 900px;
    }

    .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%; 
    }

    .contact-top {
        display: block;
    }
    .map {
        max-width: 400px;
    }

    .socialicons img {
        display: block;

    }

    .wsummary {
       position: absolute;
       left: 25px;
       top: 25px;
    }

    .piccontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }   

    #fiveday {
        display: block;
    } 

}

