html {
    font-size: 62.5%;
}

body {
    background-color: #bbb;
    text-size: 1rem;
    margin: 0 auto;
    }

    header {
        background-color: #C4E0F9;
        color: #13315c;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    img {
        margin: 1rem;
        border: 1px solid black;
        width: 50%;
        border-radius: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 1.75rem #444;
    }
    
    .content {
        margin: 1rem;
        padding-left: 6rem;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    footer {
        background-color: #C4E0F9;
        color: #13315c;
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 1rem;
        margin: 0;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    h1 {
        background-color:  #13315c;
        color: white;
        text-align: center;
        font-size: 3rem;
        border-radius: 1.25rem;
        padding: .35rem;
        margin: 0;
    }

    h2 {
        text-align: center;
        font-size: 3.5rem;
        color: white;
    }

    nav {
        background-color: #13315c;
        text-align: center;
        box-shadow: 0 2px 1rem gray;
        margin: auto;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1.05rem;
        text-decoration: none;
        font-size: 1.45rem;
    }
    nav a:hover {
        background-color: #bbb;
        color: #36454f;
    }

    p {
        margin: 0;
        text-align: center;
        font-size: 1.75rem;
    }

    .logo { 
        background-color:skyblue;
    }
    
    .motto {
        font-size: 1.5rem;
        padding: .25rem;
    }
    .active {
        color: #D8F1A0;
    }

    .navigation.responsive li {
        display: block;
        display:contents;
    }

    .navigation li {
        display: none;
    }

    .navigation li:first-child {
        Display: block;
        }

        .contentbox {
            background-color: #C4E0F9;
        }
