
    
    html {
      font-size: 62.5%;
      background-color: black;
    }

    main {
      max-width: 1100px;
      min-width: 250px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
      background-color: lightyellow;
      box-shadow: 0 0 3rem #ccc;
    }

    img {
        width: 180px;
        border: 1px solid black;
        display: block;
        box-shadow: 0 0 1.75rem #444;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
      
    h1 {
        display: flex;
        font-size: 3em;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: purple;
        padding: 1.5rem;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    h2 {
      display: flex;
      color: purple;
      font-size: 1.8rem;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    h3 {
      display: flex;
      color: #333;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.35rem;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-bottom: 0;
    }
    
    p {
        display: flex;
        color: #333;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.25rem;
        font-size: 1.75rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .cards section {
      background-color: rgb(247, 160, 80);
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      padding: 0 1.5rem 1.5rem 1.5rem;
      border: 1px solid darkblue;
      box-shadow: 0 0 .75rem #444;
      width: 225px;
    }



    footer {
      display: flex;
      max-width: 900px;
      border-top: 1px solid #444;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2rem;
      margin-top: 2rem;
    }

    footer p {
      color: purple;
    }
    