@media only screen and (min-width: 38em) {


    nav {
        border-radius: 15px;
        max-width: 1500px;
        font-size: 10rem;
    }
    
    nav li {
            flex: 1 1 100%;
            font-size: 10rem;
     }
    
    nav ul li a {
            padding: 1.05rem;
            text-decoration: none;
            font-size: 1rem;
    }

    .navigation {
        Display: flex;
    
        }
        
        .navigation li:first-child {
        Display: none;
        }
    
        .navigation li {
            Display: block;
            flex: 1 1 100%;
            font-size: 1.8rem;
        }
    
    .footertext {
        font-size: 2rem;
        width: 600px;
}

}