@media only screen and (min-width: 38em) {


    nav {
        border-radius: 15px;
        max-width: 1500px;
    }
    
     
    nav ul li a {
            padding: 1rem 0.2rem;
            text-decoration: none;
            font-size: .8rem;
            font-family: ubuntu, Verdana, Tahoma, sans-serif;
    }

    .navigation {
        Display: flex;
    }
        
    .navigation li:first-child {
        Display: none;
    }
    
    .navigation li:nth-child(2) {
        font-size: .8rem;
    }

    .navigation li {
        Display: flex;
        flex: 1 1 100%;
        font-size: 1.8rem;
    }
    
    .footertext {
        font-size: 2rem;
        width: 600px;
    }

    .footertext p {
        padding: 0;
        font-size: 1.3rem;
    }
    
    .footertext a {
        padding: 0;
        font-size: 1.3rem;
    }

}