html {
    font-size: 62.5%;
    background-color: #a6aec3;
}

body {
    line-height: 1.5;
}
main {
    background-color: #cabcaf;
}

h1 {

}

h2 {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 3rem;
    margin-left: 3rem;
}

h3 {
    font-family: Bree, Georgia, serif ;
    font-size: 2.3rem;
    margin-left: 3rem;
}

h4 {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 3rem;
    display: block;
    justify-self: center;
    margin: .75rem 3rem;
}

h5 {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    display: block;
    justify-self: center;
    margin: .75rem 3rem;
}

p {
    font-family: Bree, Georgia, serif ;
    font-size: 2.3rem;
    margin-left: 3rem;;
}

a {
    font-family: Bree, Georgia, serif ;
    font-size: 2rem;
    margin-left: 3rem;;
}

legend {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 3rem;
}

fieldset {
   margin-left: 3rem;
}

header, footer {
    max-width: 1600px;
    margin: 0 auto;
    }

.footerdiv {
    position: relative;
    text-align: center;
}

.footertext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 15px;
        padding: 0;
        font-size: .5rem;
        width: 450px;
        font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
}

.footertext p {
    padding: 0;
    font-size: 1rem;
}

.footertext a {
    padding: 0;
    font-size: 1rem;
}

figure {
    margin: 0 auto;
}
       
nav {
    background-color: #36454f;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.2rem
}
nav a:hover {
    background-color: #bbb;
    color: #36454f;
}

.saratogaarticle {
    display: block;
}

input {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    background-color: #a6aec3;
}

textarea {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    background-color: #a6aec3;
}

.navigation.responsive li {
    display: block;
    display: contents;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    Display: block;
    }
    
.active {
    color: yellow;
}

.member {
    width: 200px;
    border: 1px solid black;
    display: block;
    box-shadow: 0 0 1.75rem #444;
    margin-left: auto;
    margin-right: auto;
}

.mark {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reporter {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    display: block;
    justify-self: center;
    margin: .75rem 3rem;
}

.more {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    display: block;
    justify-self: center;
    margin: .75rem 3rem;
}

#submitbtn {
    box-shadow: 0 0 1.75rem #444;
    border-radius: 10px;
    margin-left: 2rem;
    font-size: 1.5rem;
}

iframe {
    border: 1px solid black;
    display: block;
    box-shadow: 0 0 1.75rem #444;
    margin-left: auto;
    margin-right: auto;
}

.who {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    display: block;
    justify-self: center;
    margin: .75rem 3rem;
}

.bus {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    display: block;
    justify-self: center;
    margin: .75rem 3rem;
}


.mlevel {
    font-family: 'Ubuntu', Verdana, Tahoma, sans-serif;
    font-size: 2.5rem;
    margin: .75rem 3rem;
    display: block;
}

.intop:required {
    border-left: #6B0F1A solid 6px;
}

.intop:required:valid {
    border-left: green solid 6px;
}